/frontend/node_modules

# Environment files
.env
.env.local
.env.production
.env.production.docker
frontend/.env
frontend/.env.local
frontend/.env.production
backend/.env
backend/.env.local
backend/.env.production
app/app/node_modules/*
app/app/.env
app/app/vendor/*
app/app/bootstrap/cache/*
app/app/database/*.sqlite
app/app/storage/*